@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Londrina+Sketch&family=Rakkas&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    perspective: 1px;
    transform-style: preserve-3d;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
  }

header {
    width: 100vw;
    height: 5vh;
   /*  border: 2px solid limegreen; */
}

header nav {
    display: flex;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
}

header nav a {
    text-decoration: none;
    color: darkgrey;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

header nav :is(a:hover, a:focus) {
    color: white;
}

.home {
    width: 100%;
    height: 95vh;
   /*  border: 5px solid rebeccapurple; */
    background-image: url(images/main-image_upscaled.png);
    background-size: 1920px 900px;
    background-attachment: fixed;
}

.about, .skills, .services {
    width: 100%;
    height: 100vh;
    /* border: 2px solid salmon; */
}

.name {
    position: relative;
    top: 45%;
    left: 6%;
    /* border: 2px solid tomato; */
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    animation-name: appear-left;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.surname {
    position: relative;
    color: azure;
    font-size: 3.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    position: relative;
    color: azure;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 20px;
}

.role {
    position: relative;
    color: azure;
    font-size: 2vw;
    letter-spacing: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contactLink {
    position: relative;
    top: 47%;
    left: 7.5%;
    animation-name: appear-left;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
   /*  border: 2px limegreen solid; */
    width: 260px;
    height: 70px;
    text-align: center;
}

.contactLink a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    letter-spacing: 7px;
    border: 2px solid azure;
    border-radius: 20px;
    padding: 0.7rem;
}

.home :is(a:hover, a:focus) {
    background-color: azure;
    color: black;
}

/* .name {
    animation-name: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
} */

@keyframes appear-left {
    0% {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
        transform: translateX(-900px);
        scale: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
        scale: 1;
    }
}

@keyframes disappear {
    0% {
        scale: 1;
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
        scale: 1;
        opacity: 1;
    }
    100% {
        scale: 0;
        transform: translateX(-900px);
        clip-path: inset(100% 100% 0 0);
        opacity: 0;
    }
}

.about {
    background-image: url(images/black-textured-background.jpg), radial-gradient(rgb(49, 49, 49), black);
    background-size: cover;
    background-attachment: fixed;

}

.aboutHeading {
    color: azure;
    position: relative;
    top: 20px;
    left: 1200px;
    font-size: 50px;
    animation: appear-left 0.7s ease-in-out 0s 1;
}

.about .myself {
    animation-name: appear-left;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    width: 600px;
    height: 700px;
    position: relative;
    left: 250px;
}

.about-myself {
    position: relative;
    top: -650px;
    left: 800px;
    border-radius: 20px;
    padding: 30px;
    color: azure;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    animation-name: disappear;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-range: entry 0% cover 40%;
}

.skills {
    background-image: url(images/black-textured-background\ \(copy\).jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
